:root {
	--primary-brand-color: #4d5ae5;
	--pressed-state-color: #404bbf;
	--dark-color: #2e2f42;
	--success-color: #31d0aa;
	--text-color: #434455;
	--subtle-text-color: #8e8f99;
	--accent-color: #e7e9fc;
	--light-color: #f4f4fd;
	--modal-overlay-color: rgba(46, 47, 66, 0.4);
	--hero-background-color: rgba(46, 47, 66, 0.7);
	--white-color: #ffffff;
	--modal-background-color: #fcfcfc;

	--common-section-padding: 96px;

	--transition-duration: 250ms;
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	--tablet-container-max-width: 528px;
	--desktop-container-max-width: 1158px;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

input {
	font-family: inherit;
}

/*#region Misc */

.container {
	max-width: var(--desktop-container-max-width);
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: var(--common-section-padding);
	padding-bottom: var(--common-section-padding);
}

@media screen and (min-width: 1158px) {
	.section {
		--common-section-padding: 120px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*#endregion Misc */

/*#region Typography */

.heading-large {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07143;
	letter-spacing: 0.02em;
}

.heading-medium {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11112;
	letter-spacing: 0.02em;
}

.heading-small {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.body {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.body-medium {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.small-text {
	font-size: 12px;
	line-height: 1.16667;
	letter-spacing: 0.03em;
}

.link {
	display: block;
	color: var(--dark-color);
	text-decoration: none;
	font-style: normal;
	transition: color var(--transition-duration) var(--transition-timing-function);
}

.link.link--active,
.link:focus,
.link:hover {
	color: var(--pressed-state-color);
}

/*#endregion Typography */

/*#region Button */

.button {
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.button.button--primary {
	border: none;
	background-color: var(--primary-brand-color);
	box-shadow: 0px 4px 4px 0px #00000026;
	color: var(--white-color);
	padding: 16px 32px;
	transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.button.button--primary:focus,
.button.button--primary:hover {
	background-color: var(--pressed-state-color);
}

.button.button--outlined {
	padding: 12px 24px;
	background-color: var(--light-color);
	border: 1px solid var(--accent-color);
	color: var(--primary-brand-color);
	box-shadow: none;
	transition: background-color var(--transition-duration) var(--transition-timing-function),
		box-shadow var(--transition-duration) var(--transition-timing-function),
		color var(--transition-duration) var(--transition-timing-function),
		border-color var(--transition-duration) var(--transition-timing-function);
}

.button.button--outlined:focus,
.button.button--outlined:hover {
	background-color: var(--pressed-state-color);
	border: 1px solid var(--pressed-state-color);
	box-shadow: 0px 2px 2px 0px #0000001f, 0px 2px 1px 0px #00000014, 0px 3px 1px 0px #0000001a;
	color: var(--white-color);
}

.button.button--primary.button--small {
	padding: 8px 24px;
}

.button__icon {
	fill: currentColor;
}

/*#endregion Button */

/*#region Input */

.input {
	display: block;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.03em;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	padding: 7px 16px;
	background-color: transparent;
	width: 264px;
	outline: transparent;
	transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.input.input--light:focus,
.input.input--dark:focus {
	border-color: var(--primary-brand-color);
}

.input.input--light {
	color: var(--dark-color);
	border-color: var(--modal-overlay-color);
}

.input.input--light::placeholder {
	color: var(--modal-overlay-color);
}

.input.input--dark {
	color: var(--white-color);
	border-color: var(--white-color);
}

.input.input--dark::placeholder {
	color: var(--white-color);
}

/*#endregion Input */

/*#region Textarea */

.textarea {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.03em;
	padding: 8px 16px;
	border-radius: 4px;
	border: 1px solid var(--modal-overlay-color);
	color: var(--dark-color);
	resize: none;
	outline: transparent;
	transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.textarea:focus {
	border-color: var(--primary-brand-color);
}

.textarea::placeholder {
	color: var(--modal-overlay-color);
}

/*#endregion Textarea */

/*#region Checkbox */

.checkbox {
	width: 16px;
	height: 16px;
	border: 1px solid var(--modal-overlay-color);
	border-radius: 2px;
	position: relative;
	transition: border-color var(--transition-duration) var(--transition-timing-function),
		background-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox:focus-within {
	border-color: var(--primary-brand-color);
}

.checkbox:has(.checkbox__input:checked) {
	border-color: var(--primary-brand-color);
	background-color: var(--primary-brand-color);
}

.checkbox__input:checked + .checkbox__icon {
	opacity: 1;
}

.checkbox__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: var(--white-color);
	opacity: 0;
	transition: opacity var(--transition-duration) var(--transition-timing-function);
}

/*#endregion Checkbox */

/*#region Header */

.header {
	border-bottom: 1px solid var(--accent-color);
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media screen and (min-width: 758px) {
	.header-container {
		padding-top: 0;
		padding-bottom: 0;
	}
}

/*#endregion Header */

/*#region Logo */

.logo {
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 18px;
	line-height: 1.16667;
	color: var(--dark-color);
	text-decoration: none;
	letter-spacing: 0.03em;
}

.logo--light {
	color: var(--light-color);
}

.logo__web {
	color: var(--primary-brand-color);
}

/*#endregion Logo */

/*#region Mobile Menu */

.mobile-menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}

@media screen and (min-width: 758px) {
	.mobile-menu-toggle {
		display: none;
	}
}

.mobile-menu-toggle:hover,
.mobile-menu-toggle:focus {
	background-color: rgba(0, 0, 0, 0.1);
}

.mobile-menu-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	padding: 80px 35px 40px 40px;
	background-color: var(--white-color);
	z-index: 999;

	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}

.mobile-menu-container.is-open {
	transform: translateX(0);
}

.mobile-menu-container .social-buttons {
	gap: 56px;
}

.mobile-menu-container .phone-link {
	margin-bottom: 40px;
}

.mobile-menu-container .email-link {
	margin-bottom: 48px;
}

@media screen and (max-width: 427px) {
	.mobile-menu-container .phone-link {
		font-size: 24px;
	}

	.mobile-menu-container .social-buttons {
		gap: 30px;
	}
}

/*#endregion Mobile Menu*/

/*#region Navigation */

.navigation-menu {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.navigation-menu__item-link {
	position: relative;
}

@media screen and (max-width: 767px) {
	.header .navigation-menu,
	.header .address {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.navigation {
		display: flex;
		align-items: center;
		gap: 76px;
	}

	.navigation-menu {
		flex-direction: row;
	}

	.navigation-menu__item-link {
		padding: 24px 0;
	}

	.navigation-menu__item-link::after {
		content: '';
		width: 100%;
		border: 2px solid currentColor;
		border-radius: 2px;
		display: block;
		position: absolute;
		bottom: 0;
		opacity: 0;
		transition: opacity var(--transition-duration) var(--transition-timing-function);
	}

	.navigation-menu__item-link.link--active::after {
		opacity: 1;
	}

	.address-list__item-link {
		padding: 6px 0;
	}
}

@media screen and (min-width: 1158px) {
	.address-list {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	.address-list__item-link {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
}

/*#endregion Navigation */

/*#region Social Buttons */

.social-buttons {
	display: flex;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color: var(--primary-brand-color);
	color: var(--light-color);
	transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-button:focus,
.social-button:hover {
	background-color: var(--pressed-state-color);
}

.social-button.social-button--dark:focus,
.social-button.social-button--dark:hover {
	background-color: var(--success-color);
}

.social-button__icon {
	fill: currentColor;
}

/*#endregion Social Buttons */

/*#region Footer */

.footer {
	padding-top: 96px;
	padding-bottom: 96px;
	background-color: var(--dark-color);
}

.footer-container {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.footer-container__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.footer-text {
	color: var(--light-color);
	max-width: 264px;
}

.footer-heading {
	color: var(--white-color);
}

.footer .social-buttons {
	gap: 16px;
}

.footer-container__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.footer-container__form .input {
	width: 100%;
	max-width: 398px;
}

.footer-container__form-btn {
	display: flex;
	gap: 16px;
}

@media screen and (min-width: 768px) {
	.footer-container {
		flex-direction: row;
		flex-wrap: wrap;
		max-width: var(--tablet-container-max-width);
		column-gap: 24px;
		row-gap: 72px;
	}

	.footer-container__section {
		align-items: flex-start;
	}

	.footer-container__form {
		flex-direction: row;
		gap: 24px;
	}

	.footer-container__form .input {
		width: 264px;
	}
}

@media screen and (min-width: 1158px) {
	.footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.footer-container {
		flex-wrap: nowrap;
		max-width: var(--desktop-container-max-width);
		gap: unset;
	}

	.footer-container__section:nth-child(1) {
		margin-right: 120px;
	}

	.footer-container__section:nth-child(2) {
		margin-right: 80px;
	}
}

/*#endregion Footer */

/*#region Studio Page */

/* Hero Section */

.hero-section {
	background-color: var(--dark-color);
	background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url('../images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	padding-top: 112px;
	padding-bottom: 122px;

	max-width: 1440px;
	margin: 0 auto;
}

@media (min-resolution: 192dpi) {
	.hero-section {
		background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url('../images/hero@2x.jpg');
	}
}

.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}

.hero-title {
	color: var(--white-color);
	max-width: 320px;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.hero-container {
		gap: 36px;
	}

	.hero-title {
		max-width: 496px;
		font-size: 56px;
		line-height: 1.07143;
	}
}

@media screen and (min-width: 1158px) {
	.hero-section {
		padding-top: 188px;
		padding-bottom: 188px;
	}
}

/* Advantages Section */

.advantages-list {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 72px;
}

.advantages-list__item {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.advantages-list__item-icon-container {
	display: none;
}

.advantages-list__item-heading {
	color: var(--dark-color);
	text-align: center;
}

@media screen and (min-width: 768px) {
	.advantages-list {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 24px;
	}

	.advantages-list__item-heading {
		text-align: left;
	}
}

@media screen and (min-width: 1158px) {
	.advantages-list {
		grid-template-columns: repeat(4, 1fr);
	}

	.advantages-list__item-icon-container {
		display: block;
		padding: 24px 100px;
		background-color: var(--light-color);
	}

	.advantages-list__item-heading {
		font-size: 20px;
		line-height: 1.2;
	}

	.advantages-list__item-text {
		font-weight: 400;
	}
}

/* Portfolio Section */

.portfolio-section {
	display: none;
}

@media screen and (min-width: 1158px) {
	.portfolio-section {
		display: block;
		padding-bottom: var(--common-section-padding);
	}

	.portfolio-list {
		display: flex;
		gap: 24px;
	}

	.portfolio-heading {
		margin-bottom: 72px;
		text-align: center;
	}

	.portfolio-heading {
		color: var(--dark-color);
	}
}

/* Team Section */

.team-section {
	background-color: var(--light-color);
}

.team-heading {
	color: var(--dark-color);
	margin-bottom: 72px;
	text-align: center;
}

.team-cards {
	display: grid;
	grid-template-columns: 264px;
	justify-content: center;
	row-gap: 72px;
}

.team-card {
	background-color: var(--white-color);
	box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 1px 6px 0px #2e2f4214;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.team-card__content {
	padding: 32px 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.team-card__text {
	color: var(--dark-color);
	text-align: center;
}

.team-card__content .social-buttons {
	gap: 24px;
}

@media screen and (min-width: 768px) {
	.team-cards {
		grid-template-columns: repeat(2, 264px);
		column-gap: 24px;
		row-gap: 64px;
	}
}

@media screen and (min-width: 1158px) {
	.team-cards {
		grid-template-columns: repeat(4, 264px);
	}
}

/* Customers Section */

.customers-heading {
	text-align: center;
	margin-bottom: 72px;
}

.customers-list {
	display: grid;
	grid-template-columns: 168px;
	justify-content: center;
	row-gap: 72px;
}

.customer-item {
	display: block;
	padding: 16px 32px;
	border: 1px solid var(--subtle-text-color);
	border-radius: 4px;
	color: var(--subtle-text-color);
	transition: color var(--transition-duration) var(--transition-timing-function),
		border-color var(--transition-duration) var(--transition-timing-function);
}

.customer-item__icon {
	fill: currentColor;
}

.customer-item:focus,
.customer-item:hover {
	color: var(--pressed-state-color);
	border-color: var(--pressed-state-color);
}

@media screen and (min-width: 428px) {
	.customers-list {
		grid-template-columns: repeat(2, 190px);
		column-gap: 16px;
	}
}

@media screen and (min-width: 768px) {
	.customers-list {
		grid-template-columns: repeat(3, 168px);
		column-gap: 24px;
	}
}

@media screen and (min-width: 1158px) {
	.customers-list {
		grid-template-columns: repeat(6, 168px);
	}
}

/* Order Modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--modal-overlay-color);

	transition: opacity var(--transition-duration) var(--transition-timing-function),
		visibility var(--transition-duration) var(--transition-timing-function);
	transition-delay: 0s;
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition-delay: 300ms;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 408px;
	width: calc(100vw - 36px);
	min-height: 584px;
	background-color: var(--modal-background-color);
	border-radius: 4px;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
		0 1px 1px 0 rgba(0, 0, 0, 0.14);

	padding: 72px 16px 24px 16px;

	transition: transform var(--transition-duration) var(--transition-timing-function),
		opacity var(--transition-duration) var(--transition-timing-function);
	transition-delay: 0s;
}

.backdrop.is-hidden .modal {
	opacity: 0;
	transform: translateX(-50%) translateY(-70%);
	transition-delay: 300ms;
}

.modal-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 24px;
	right: 24px;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: var(--accent-color);
	color: var(--dark-color);
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: border-color var(--transition-duration) var(--transition-timing-function),
		background-color var(--transition-duration) var(--transition-timing-function),
		color var(--transition-duration) var(--transition-timing-function);
}

.modal-btn:focus,
.modal-btn:hover {
	color: var(--white-color);
	border-color: var(--pressed-state-color);
	background-color: var(--pressed-state-color);
}

.modal-btn__icon {
	fill: currentColor;
}

.order-heading {
	text-align: center;
	margin-bottom: 16px;
}

.order-form {
	display: flex;
	flex-direction: column;
}

.order-form__input-container {
	position: relative;
	margin-bottom: 8px;
}

.order-form__input-container:focus-within .order-form__input-icon {
	fill: var(--primary-brand-color);
}

.order-form__label {
	color: var(--subtle-text-color);
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.03em;
}

.order-form__label:not(:last-of-type) {
	margin-bottom: 4px;
}

.order-form__label:last-of-type {
	margin-bottom: 24px;
}

.order-form__input {
	width: 100%;
	padding-left: 38px;
}

.order-form__input-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	transition: fill var(--transition-duration) var(--transition-timing-function);
}

.order-form__textarea {
	margin-bottom: 16px;
	max-height: 120px;
}

.order-form__link {
	color: var(--primary-brand-color);
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.03em;
}

.order-form__button {
	align-self: center;
	width: 169px;
}

.order-form__label.order-form__agreement {
	display: flex;
	align-items: center;
	gap: 8px;
}

@media screen and (min-width: 1158px) {
	.modal {
		padding-left: 24px;
		padding-right: 24px;
	}
}

/*#endregion Studio Page */

/*#region Portfolio Page */

.portfolio-page-section {
	padding-top: 96px;
	padding-bottom: var(--common-section-padding);
}

.filters {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-bottom: 72px;
}

.project-cards {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}

.project-card__link {
	color: var(--dark-color);
	text-decoration: none;
}

.project-card__content {
	padding: 32px 16px;
	border: 1px solid var(--accent-color);
	border-top: none;
	transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.project-card__link:focus .project-card__content,
.project-card__link:hover .project-card__content {
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card__heading {
	color: var(--dark-color);
	margin-bottom: 8px;
}

.project-card__image {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.project-card__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 32px;
	transform: translateY(100%);
	color: var(--light-color);
	background-color: var(--primary-brand-color);
	transition: transform var(--transition-duration) var(--transition-timing-function);
}

.project-card__link:focus .project-card__overlay,
.project-card__link:hover .project-card__overlay {
	transform: translateY(0);
}

/*#endregion Portfolio Page */
