:root {
	--primary-brand-color: #4d5ae5;
	--pressed-state-color: #404bbf;
	--dark-color: #2e2f42;
	--success-color: #31d0aa;
	--text-color: #434455;
	--subtle-text-color: #8e8f99;
	--accent-color: #e7e9fc;
	--light-color: #f4f4fd;
	--modal-overlay-color: rgba(46, 47, 66, 0.4);
	--hero-background-color: rgba(46, 47, 66, 0.7);
	--white-color: #ffffff;
	--modal-background-color: #fcfcfc;

	--common-section-padding: 120px;
	--transition-duration: 250ms;
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

img {
	display: block;
}

input {
	font-family: inherit;
}

/*#region Misc */

.container {
	max-width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: var(--common-section-padding);
	padding-bottom: var(--common-section-padding);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*#endregion Misc */

/*#region Typography */

.heading-large {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07143;
	letter-spacing: 0.02em;
}

.heading-medium {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11112;
	letter-spacing: 0.02em;
}

.heading-small {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.body {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.body-medium {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
}

/*#endregion Typography */

/*#region Button */

.button {
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.button.button--primary {
	border: none;
	background-color: var(--primary-brand-color);
	box-shadow: 0px 4px 4px 0px #00000026;
	color: var(--white-color);
	padding: 16px 32px;
	transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.button.button--primary:focus,
.button.button--primary:hover {
	background-color: var(--pressed-state-color);
}

.button.button--outlined {
	padding: 12px 24px;
	background-color: var(--light-color);
	border: 1px solid var(--accent-color);
	color: var(--primary-brand-color);
	box-shadow: none;
	transition: background-color var(--transition-duration) var(--transition-timing-function),
		box-shadow var(--transition-duration) var(--transition-timing-function),
		color var(--transition-duration) var(--transition-timing-function),
		border-color var(--transition-duration) var(--transition-timing-function);
}

.button.button--outlined:focus,
.button.button--outlined:hover {
	background-color: var(--pressed-state-color);
	border: 1px solid var(--pressed-state-color);
	box-shadow: 0px 2px 2px 0px #0000001f, 0px 2px 1px 0px #00000014, 0px 3px 1px 0px #0000001a;
	color: var(--white-color);
}

.button.button--primary.button--small {
	padding: 8px 24px;
}

/*#endregion Button */

/*#region Input */

.input {
	display: block;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.03em;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	padding: 7px 16px;
	background-color: transparent;
	width: 264px;
	outline: transparent;
	transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.input.input--light:focus,
.input.input--dark:focus {
	border-color: var(--primary-brand-color);
}

.input.input--light {
	color: var(--dark-color);
	border-color: var(--modal-overlay-color);
}

.input.input--light::placeholder {
	color: var(--modal-overlay-color);
}

.input.input--dark {
	color: var(--white-color);
	border-color: var(--white-color);
}

.input.input--dark::placeholder {
	color: var(--white-color);
}

/*#endregion Input */

/*#region Textarea */

.textarea {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.03em;
	padding: 8px 16px;
	border-radius: 4px;
	border: 1px solid var(--modal-overlay-color);
	color: var(--dark-color);
	resize: none;
	outline: transparent;
	transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.textarea:focus {
	border-color: var(--primary-brand-color);
}

.textarea::placeholder {
	color: var(--modal-overlay-color);
}

/*#endregion Textarea */

/*#region Checkbox */

.checkbox {
	width: 16px;
	height: 16px;
	border: 1px solid var(--modal-overlay-color);
	border-radius: 2px;
	position: relative;
	transition: border-color var(--transition-duration) var(--transition-timing-function),
		background-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox:focus-within {
	border-color: var(--primary-brand-color);
}

.checkbox:has(.checkbox__input:checked) {
	border-color: var(--primary-brand-color);
	background-color: var(--primary-brand-color);
}

.checkbox__input:checked + .checkbox__icon {
	opacity: 1;
}

.checkbox__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: var(--white-color);
	opacity: 0;
	transition: opacity var(--transition-duration) var(--transition-timing-function);
}

/*#endregion Checkbox */

/*#region Header */

.header {
	border-bottom: 1px solid var(--accent-color);
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*#endregion Header */

/*#region Logo */

.logo {
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 18px;
	line-height: 1.16667;
	color: var(--dark-color);
	text-decoration: none;
	letter-spacing: 0.03em;
}

.logo--light {
	color: var(--light-color);
}

.logo__web {
	color: var(--primary-brand-color);
}

/*#endregion Logo */

/*#region Navigation */

.navigation {
	display: flex;
	align-items: center;
	gap: 76px;
}

.navigation-menu {
	display: flex;
	align-items: center;
	gap: 40px;
}

.navigation-menu__item-link {
	display: block;
	padding: 24px 0;
	color: var(--dark-color);
	line-height: 1.5;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 0.02em;
	position: relative;
	transition: color var(--transition-duration) var(--transition-timing-function);
}

.navigation-menu__item-link::after {
	content: '';
	width: 100%;
	border: 2px solid currentColor;
	border-radius: 2px;
	display: block;
	position: absolute;
	bottom: 0;
	opacity: 0;
	transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.navigation-menu__item-link.navigation-menu__item-link--active,
.navigation-menu__item-link:focus,
.navigation-menu__item-link:hover {
	color: var(--pressed-state-color);
}

.navigation-menu__item-link.navigation-menu__item-link--active::after {
	opacity: 1;
}

.address-list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.address-list__item-link {
	color: var(--text-color);
	font-style: normal;
	text-decoration: none;
	padding: 24px 0;
	display: block;
	transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list__item-link:focus,
.address-list__item-link:hover {
	color: var(--pressed-state-color);
}

/*#endregion Navigation */

/*#region Footer */

.footer {
	background-color: var(--dark-color);
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer-container {
	display: flex;
	align-items: flex-start;
}

.footer-container__section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer-container__section:nth-child(1) {
	margin-right: 120px;
}

.footer-container__section:nth-child(2) {
	margin-right: 80px;
}

.footer-container__socials {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.footer-container__socials-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color: var(--primary-brand-color);
	color: var(--light-color);
	transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-container__socials-item:focus,
.footer-container__socials-item:hover {
	background-color: var(--success-color);
}

.footer-container__socials-item-icon {
	fill: currentColor;
}

.footer-text {
	color: var(--light-color);
	max-width: 264px;
}

.footer-heading {
	color: var(--white-color);
}

.footer-container__form {
	display: flex;
	gap: 24px;
}

.footer-container__form-btn {
	display: flex;
	gap: 16px;
}

.footer-container__form-btn-icon {
	fill: currentColor;
}

/*#endregion Footer */

/*#region Studio Page */

.hero-section {
	background-color: var(--dark-color);
	background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url('../images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	padding-top: 188px;
	padding-bottom: 188px;

	max-width: 1440px;
	margin: 0 auto;
}

.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-title {
	color: var(--white-color);
	max-width: 496px;
	text-align: center;
	margin-bottom: 48px;
}

.advantages-list {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.advantages-list__item {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.advantages-list__item-icon-container {
	padding: 24px 100px;
	background-color: var(--light-color);
}

.advantages-list__item-heading {
	color: var(--dark-color);
}

.team-card__text {
	color: var(--dark-color);
}

.portfolio-section {
	padding-bottom: var(--common-section-padding);
}

.portfolio-list {
	display: flex;
	gap: 24px;
}

.portfolio-heading {
	margin-bottom: 72px;
	text-align: center;
}

.portfolio-heading,
.team-heading {
	color: var(--dark-color);
}

.team-section {
	background-color: var(--light-color);
}

.team-heading {
	margin-bottom: 72px;
	text-align: center;
}

.team-cards {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.team-card {
	background-color: var(--white-color);
	box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 1px 6px 0px #2e2f4214;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.team-card__content {
	padding: 32px 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.team-card__text {
	text-align: center;
}

.team-card__socials {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.team-card__socials-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color: var(--primary-brand-color);
	color: var(--light-color);
	transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.team-card__socials-item:focus,
.team-card__socials-item:hover {
	background-color: var(--pressed-state-color);
}

.team-card__socials-item-icon {
	fill: currentColor;
}

.customers-heading {
	text-align: center;
	margin-bottom: 72px;
}

.customers-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.customer-item {
	display: block;
	padding: 16px 32px;
	border: 1px solid var(--subtle-text-color);
	border-radius: 4px;
	color: var(--subtle-text-color);
	transition: color var(--transition-duration) var(--transition-timing-function),
		border-color var(--transition-duration) var(--transition-timing-function);
}

.customer-item__icon {
	fill: currentColor;
}

.customer-item:focus,
.customer-item:hover {
	color: var(--pressed-state-color);
	border-color: var(--pressed-state-color);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--modal-overlay-color);

	transition: opacity var(--transition-duration) var(--transition-timing-function),
		visibility var(--transition-duration) var(--transition-timing-function);
	transition-delay: 0s;
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition-delay: 300ms;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 408px;
	width: 100%;
	min-height: 584px;
	background-color: var(--modal-background-color);
	border-radius: 4px;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
		0 1px 1px 0 rgba(0, 0, 0, 0.14);

	padding: 72px 24px 24px 24px;

	transition: transform var(--transition-duration) var(--transition-timing-function),
		opacity var(--transition-duration) var(--transition-timing-function);
	transition-delay: 0s;
}

.backdrop.is-hidden .modal {
	opacity: 0;
	transform: translateX(-50%) translateY(-70%);
	transition-delay: 300ms;
}

.modal-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 24px;
	right: 24px;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: var(--accent-color);
	color: var(--dark-color);
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: border-color var(--transition-duration) var(--transition-timing-function),
		background-color var(--transition-duration) var(--transition-timing-function),
		color var(--transition-duration) var(--transition-timing-function);
}

.modal-btn:focus,
.modal-btn:hover {
	color: var(--white-color);
	border-color: var(--pressed-state-color);
	background-color: var(--pressed-state-color);
}

.modal-btn__icon {
	fill: currentColor;
}

.order-heading {
	text-align: center;
	margin-bottom: 16px;
}

.order-form {
	display: flex;
	flex-direction: column;
}

.order-form__input-container {
	position: relative;
	margin-bottom: 8px;
}

.order-form__input-container:focus-within .order-form__input-icon {
	fill: var(--primary-brand-color);
}

.order-form__label {
	color: var(--subtle-text-color);
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.03em;
}

.order-form__label:not(:last-of-type) {
	margin-bottom: 4px;
}

.order-form__label:last-of-type {
	margin-bottom: 24px;
}

.order-form__input {
	width: 100%;
	padding-left: 38px;
}

.order-form__input-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	transition: fill var(--transition-duration) var(--transition-timing-function);
}

.order-form__textarea {
	margin-bottom: 16px;
	max-height: 120px;
}

.order-form__link {
	color: var(--primary-brand-color);
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.03em;
}

.order-form__button {
	align-self: center;
	width: 169px;
}

.order-form__label.order-form__agreement {
	display: flex;
	align-items: center;
	gap: 8px;
}

/*#endregion Studio Page */

/*#region Portfolio Page */

.portfolio-page-section {
	padding-top: 96px;
	padding-bottom: var(--common-section-padding);
}

.filters {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-bottom: 72px;
}

.project-cards {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}

.project-card__link {
	color: var(--dark-color);
	text-decoration: none;
}

.project-card__content {
	padding: 32px 16px;
	border: 1px solid var(--accent-color);
	border-top: none;
	transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.project-card__link:focus .project-card__content,
.project-card__link:hover .project-card__content {
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card__heading {
	color: var(--dark-color);
	margin-bottom: 8px;
}

.project-card__image {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.project-card__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 32px;
	transform: translateY(100%);
	color: var(--light-color);
	background-color: var(--primary-brand-color);
	transition: transform var(--transition-duration) var(--transition-timing-function);
}

.project-card__link:focus .project-card__overlay,
.project-card__link:hover .project-card__overlay {
	transform: translateY(0);
}

/*#endregion Portfolio Page */
